.bgColor {
  background-color: rgb(90 233 212 / 40%);
  border-radius: 10px;
  border: 1px outset rgb(80, 80, 80);
}

.marieImage,
.samanthaImage {
  width: 100%;
  height: auto;
  float: right;
  margin: 0 20px 20px 0;
  max-width: 576px;
  height: auto;
}

.gemmaImage,
.catherineImage {
  width: 100%;
  height: auto;
  float: right;
  margin: 0 20px 20px 0;
  max-width: 576px;
  height: auto;
}

.gemmaImage {
  float: left !important;
}

.underline {
  text-decoration: underline !important;
}

.imgCss {
  width: 300px !important;
  height: 350px !important;
  object-fit: cover;
  object-position: top;
  border: 3px solid white;
  border-radius: 25px;
}

.image-wrapper {
  position: relative;
}

.image-label {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.services_icon img {
  filter: invert(1);
}

@media (max-width: 767px) {
  .bnnerClass {
    height: auto !important;
    background-position: center;
    padding: 0;
  }

  #button {
    margin-top: 10rem;
  }

  .divider_wrapper > * {
    width: 300px !important;
    margin-inline: auto;
  }

  .about_banner {
    padding: 0% !important;
    height: 175px !important;
  }
  .imgCss {
    width: 100% !important;
  }
  .videoSection video {
    width: 80% !important;
  }
}

@media (max-width: 600px) {
  .bnnerClass {
    padding: 0;
  }
}
